<h1>Welcome to our Allergy App</h1>
<form action="/allergy_output">
  <div class="form-group">
     <label for="allergies">What is your allergy number?</label>
     <input id="allergies" name="allergies" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
